body{
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(13,71,71,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.todo{
    background-color: whitesmoke;
    border-radius: 0.8rem;
    width: 80%;
}

input{
    width: 94%;

}


